## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [269]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [270]:
# Your code here
sample_list_1 = random.sample(range(100),k=80)

    
print(sample_list_1)

[60, 24, 52, 91, 46, 59, 39, 31, 16, 76, 5, 70, 17, 87, 53, 99, 83, 43, 42, 57, 18, 90, 22, 93, 4, 97, 75, 14, 20, 64, 61, 54, 36, 35, 25, 30, 94, 15, 3, 33, 9, 2, 71, 65, 78, 50, 74, 19, 37, 72, 29, 11, 45, 86, 40, 95, 7, 47, 88, 63, 26, 89, 51, 55, 49, 84, 21, 13, 0, 34, 79, 56, 27, 41, 48, 69, 10, 12, 6, 80]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [271]:
# Your code here
set1 = set(sample_list_1)
print(" La longitud de set1 : ", len(set1),"\n","la longitud de sample_list_1:  ", len(sample_list_1))

 La longitud de set1 :  80
 la longitud de sample_list_1:   80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [272]:
# Your code hersample_list_1 = []
sample_list_2 =[]
while len(sample_list_2) < 80:
    sample_list_2.append(random.randint(0,100))

print(sample_list_2)

[63, 19, 38, 38, 95, 55, 26, 37, 92, 75, 65, 91, 85, 28, 84, 62, 25, 45, 77, 42, 100, 75, 86, 58, 27, 14, 38, 42, 44, 98, 12, 9, 44, 32, 12, 52, 6, 93, 67, 80, 92, 36, 74, 37, 26, 50, 29, 96, 19, 41, 78, 99, 14, 4, 65, 12, 1, 78, 1, 33, 88, 45, 2, 89, 97, 98, 72, 98, 34, 44, 65, 68, 38, 50, 16, 33, 13, 71, 42, 16]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [273]:
# Your code herset1 = set(sample_list_1)
set2 = set(sample_list_2)

print(" La longitud de set2 : ", len(set2),"\n","la longitud de sample_list_2:  ", len(sample_list_2))

 La longitud de set2 :  55
 la longitud de sample_list_2:   80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [274]:
# Your code here
set3 = set1.intersection(set2)
print(set3)

{2, 4, 6, 9, 12, 13, 14, 16, 19, 25, 26, 27, 29, 33, 34, 36, 37, 41, 42, 45, 50, 52, 55, 63, 65, 71, 72, 74, 75, 78, 80, 84, 86, 88, 89, 91, 93, 95, 97, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [275]:
# Your code here
set4 = set2.difference(set1)
set4

{1, 28, 32, 38, 44, 58, 62, 67, 68, 77, 85, 92, 96, 98, 100}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [276]:
# Your code here
set5 = set1.union(set2)
print(set5)

{0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [277]:
# Your code here
len(set5) == len(set1 )+ len(set2) - len(set3)

True

#### Create an empty set called `set6`.

In [278]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [279]:
# Your code here
set6.update(set3,set5)

print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [280]:
# Your code here
print(set1 ,"\n", set6)
set1 == set6

{0, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 29, 30, 31, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 63, 64, 65, 69, 70, 71, 72, 74, 75, 76, 78, 79, 80, 83, 84, 86, 87, 88, 89, 90, 91, 93, 94, 95, 97, 99}
 {0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [265]:
# Your code here
z = set1.issubset(set2) 
s = set1.issubset(set3)
print(" Set1 contiene a set2 : ",z,"\n","Set1 contiene a set3 : ",s)

 Set1 contiene a set2 :  False
 Set1 contiene a set3 :  False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [266]:
# Your code here
set_union = set3.union(set4,set5)
set_union2 = set1.union(set2)
set_union == set_union2

True

#### Using the `pop` method, remove the first element from `set1`.

In [216]:
# Your code here

set1.pop()

print(set1)

{1, 2, 3, 4, 5, 8, 9, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 35, 36, 37, 39, 40, 41, 42, 43, 45, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 88, 89, 90, 91, 94, 95, 96, 98}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [217]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set12= set(list_to_remove)
print(set1.difference(set12) )

{2, 3, 4, 5, 8, 12, 13, 14, 15, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 32, 33, 35, 36, 37, 40, 42, 43, 45, 47, 48, 50, 53, 54, 55, 56, 57, 58, 60, 63, 64, 65, 66, 67, 68, 72, 73, 74, 75, 76, 77, 78, 82, 83, 84, 88, 90, 94, 95, 96, 98}